---
http_interactions:
- request:
    method: post
    uri: http://takeover2015.staging.wpengine.com/xmlrpc.php
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>wp.getUser</methodName><params><param><value><array><data><value><i4>0</i4></value><value><string>spdev</string></value><value><string>rQEUD5KAX4h0</string></value><value><string>4</string></value><value><array><data><value><string>user_id</string></value><value><string>email</string></value><value><string>display_name</string></value></data></array></value></data></array></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <methodResponse>
          <params>
            <param>
              <value>
              <struct>
          <member><name>user_id</name><value><string>4</string></value></member>
          <member><name>email</name><value><string>qpoliticalliz@gmail.com</string></value></member>
          <member><name>display_name</name><value><string>Liz</string></value></member>
        </struct>
              </value>
            </param>
          </params>
        </methodResponse>
  recorded_at: Thu, 17 Sep 2015 04:45:30 GMT
recorded_with: VCR 2.9.3
