---
http_interactions:
- request:
    method: post
    uri: http://takeover.staging.wpengine.com/xmlrpc.php
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>wp.getPost</methodName><params><param><value><array><data><value><i4>0</i4></value><value><string>spdev</string></value><value><string>rQEUD5KAX4h0</string></value><value><string>5482</string></value><value><array><data><value><string>post</string></value><value><string>terms</string></value><value><string>custom_fields</string></value></data></array></value></data></array></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<methodResponse>\n  <params>\n
        \   <param>\n      <value>\n      <struct>\n  <member><name>post_id</name><value><string>5482</string></value></member>\n
        \ <member><name>post_title</name><value><string>Things Got Real When UFC Fighter
        Ronda Rousey Showed Jimmy Fallon Why She's Called The &quot;Arm Collector&quot;</string></value></member>\n
        \ <member><name>post_date</name><value><dateTime.iso8601>20150325T15:23:09</dateTime.iso8601></value></member>\n
        \ <member><name>post_date_gmt</name><value><dateTime.iso8601>20150325T20:23:09</dateTime.iso8601></value[...]
